USE [P1_77667661L]
GO
/****** Object:  Table [dbo].[HOSPITAL]    Script Date: 08/10/2023 19:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOSPITAL](
	[HOSPITAL_COD] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DIRECCION] [varchar](50) NOT NULL,
	[TELEFONO] [varchar](50) NOT NULL,
	[NUM_CAMA] [int] NOT NULL,
 CONSTRAINT [PK_HOSPITAL] PRIMARY KEY CLUSTERED 
(
	[HOSPITAL_COD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PLANTILLA]    Script Date: 08/10/2023 19:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PLANTILLA](
	[HOSPITAL_COD] [int] NOT NULL,
	[SALA_COD] [int] NOT NULL,
	[EMPLEADO_NO] [int] NOT NULL,
	[APELLIDOS_NOMBRE] [varchar](50) NULL,
	[FUNCION] [varchar](50) NULL,
	[TURNO] [varchar](1) NULL,
	[SALARIO] [money] NULL,
 CONSTRAINT [PK_PLANTILLA] PRIMARY KEY CLUSTERED 
(
	[EMPLEADO_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SALA]    Script Date: 08/10/2023 19:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SALA](
	[HOSPITAL_COD] [int] NOT NULL,
	[SALA_COD] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[NUM_CAMA] [int] NULL,
 CONSTRAINT [PK_SALA_1] PRIMARY KEY CLUSTERED 
(
	[HOSPITAL_COD] ASC,
	[SALA_COD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PLANTILLA]  WITH CHECK ADD  CONSTRAINT [FK_PLANTILLA_HOSPITAL1] FOREIGN KEY([HOSPITAL_COD])
REFERENCES [dbo].[HOSPITAL] ([HOSPITAL_COD])
GO
ALTER TABLE [dbo].[PLANTILLA] CHECK CONSTRAINT [FK_PLANTILLA_HOSPITAL1]
GO
ALTER TABLE [dbo].[PLANTILLA]  WITH CHECK ADD  CONSTRAINT [FK_PLANTILLA_SALA] FOREIGN KEY([HOSPITAL_COD], [SALA_COD])
REFERENCES [dbo].[SALA] ([HOSPITAL_COD], [SALA_COD])
GO
ALTER TABLE [dbo].[PLANTILLA] CHECK CONSTRAINT [FK_PLANTILLA_SALA]
GO
ALTER TABLE [dbo].[SALA]  WITH CHECK ADD  CONSTRAINT [FK_SALA_HOSPITAL1] FOREIGN KEY([HOSPITAL_COD])
REFERENCES [dbo].[HOSPITAL] ([HOSPITAL_COD])
GO
ALTER TABLE [dbo].[SALA] CHECK CONSTRAINT [FK_SALA_HOSPITAL1]
GO
