@import url(commonStyles.css);

.img {
    border: 1px solid blue;
    display:inline-flex;
    flex-wrap:wrap;
    padding: 5px;
    text-align:center;
    justify-content: center;
    width: 14.453%;
    height: 150px;
    margin-bottom: 6px;
}