<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Autenticación en el sistema</h1>
<h2><%=mensaje%></h2>
<form action="/comprobar" method="post">
    <table>
        <tr>
            <td>
                Email:
            </td>
            <td>
        <input type="text" name="EMAIL" value="<%=email%>" size="30" maxlength="30">
            </td>
        </tr>
        <tr>
            <td>
                Clave:
            </td>
            <td>
                <input type="text" name="CLAVE" value="" size="30" maxlength="30">
            </td>
        </tr>
        <tr>
            <td colspan="2"><input value="Enviar" type="submit"></td>
        </tr>
</form>